<h1>Parent Component</h1>
<h3>(app component)</h3>

<!-- selector for the child in Parent bind to the input property what the child expects-->
<!--with @Input-->
<!--<app-child [loggedIn]="userLoggedIn"></app-child>-->


<!--with getter/setter-->
<button (click)="userLoggedIn=true">Login</button>
<button (click)="userLoggedIn=false">Logout</button>
{{ userLoggedIn }}
 // #child  template gives us access to all the properties and methods  of the child component
<app-child  #child [loggedIn]="userLoggedIn"></app-child>
 {{ child.name}}

<button (click)="child.greetThomas()">Greet</button>


<router-outlet></router-outlet>
